---
http_interactions:
- request:
    method: get
    uri: http://gamelibrary.com:3000/v1/categories
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9ecca593d224d67f93bd043e213922fa"
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Action Adventure","created_at":"2018-07-06T19:16:12.000Z","updated_at":"2018-07-06T19:16:12.000Z","games":[{"id":3,"category_id":1,"title":"The
        Last of Us","description":null,"author":null,"status":null,"created_at":"2018-07-06T19:16:12.000Z","updated_at":"2018-07-06T19:16:12.000Z","category_name":"Action
        Adventure","url":"http://gamelibrary.com:3000/v1/games/3.json"},{"id":4,"category_id":1,"title":"Grand
        Theft Auto V","description":null,"author":null,"status":null,"created_at":"2018-07-06T19:16:12.000Z","updated_at":"2018-07-06T19:16:12.000Z","category_name":"Action
        Adventure","url":"http://gamelibrary.com:3000/v1/games/4.json"},{"id":14,"category_id":1,"title":"Batman:
        Arkham City","description":null,"author":null,"status":null,"created_at":"2018-07-06T19:16:12.000Z","updated_at":"2018-[...]
- request:
    method: get
    uri: http://gamelibrary.com:3000/v1/categories/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"986a09beb39889660030a696763f939e"
    body:
      encoding: UTF-8
      string: '{"id":1,"name":"Action Adventure","created_at":"2018-07-06T19:16:12.000Z","updated_at":"2018-07-06T19:16:12.000Z","games[...]
- request:
    method: get
    uri: http://gamelibrary.com:3000/v1/games/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f2e04e6561464f16ee6c4defc348a07a"
    body:
      encoding: UTF-8
      string: '{"id":3,"category_id":1,"title":"The Last of Us","description":null,"author":null,"status":null,"created_at":"2018-07-06T19:16:12.000Z","updated_at":"2018-07-06T19:16:12.000Z","category_name":"Action
        Adventure","url":"http://gamelibrary.com:3000/v1/games/3.json"}'
  recorded_at: Fri, 06 Jul 2018 19:16:37 GMT
- request:
    method: patch
    uri: http://gamelibrary.com:3000/v1/games/3
    body:
      encoding: UTF-8
      string: '{"category_id":"1","title":"New title not same as the old title","description":"","author":"","status":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - http://gamelibrary.com:3000/games/3
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7a269c28060f387f08d2dd5bf027c644"
    body:
      encoding: UTF-8
      string: '{"id":3,"category_id":1,"title":"New title not same as the old title","description":"","author":"","status":null,"created_at":"2018-07-06T19:16:12.000Z","updated_at":"2018-07-06T19:16:37.000Z","category_name":"Action
        Adventure","url":"http://gamelibrary.com:3000/v1/games/3.json"}'
  recorded_at: Fri, 06 Jul 2018 19:16:37 GMT
- request:
    method: get
    uri: http://gamelibrary.com:3000/v1/games?search_tag=the
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3a991102bc50483fa3c5d7fb1fe32139"
    body:
      encoding: UTF-8
      string: '[{"id":1,"category_id":2,"title":"The Witcher 3: Wild Hunt","description":null,"author":null,"status":null,"crea[...]
[...]
- request:
    method: post
    uri: http://gamelibrary.com:3000/v1/games
    body:
      encoding: UTF-8
      string: '{"category_id":"1","title":"Mario Tennis","description":"Itsa Maario
        Tennis!","author":"Nintendo","status":"1"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamelibrary.com:3000/games/22
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e80fa121fe2c63224d32a057aa8d5def"
    body:
      encoding: UTF-8
      string: '{"id":22,"category_id":1,"title":"Mario Tennis","description":"Itsa
        Maario Tennis!","author":"Nintendo","status":1,"created_at":"2018-07-06T19:16:44.000Z","updated_at":"2018-07-06T19:16:44.000Z","category_name":"Action
        Adventure","url":"http://gamelibrary.com:3000/v1/games/22.json"}'
  recorded_at: Fri, 06 Jul 2018 19:16:44 GMT
[...]
- request:
    method: post
    uri: http://gamelibrary.com:3000/v1/games
    body:
      encoding: UTF-8
      string: '{"category_id":null,"title":null,"description":null,"author":null,"status":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"category":["must exist"]}'
  recorded_at: Fri, 06 Jul 2018 21:39:25 GMT
recorded_with: VCR 4.0.0
