<%= form_tag(controller: "categories", action: "create", method: "post") do %>
  <div class="field">
    <%= label_tag :name, 'Name:' %>
    <%= text_field_tag :name %>
  </div>

  <div class="actions">
    <%= submit_tag 'Create Category' %>
  </div>
<% end %>